@using Nop.Core
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_RgistrationLayout";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-customer-info-page");
}

<style>
    .footer-container {
        display: none !important;
    }
</style>


<!-- end of preloader -->
<div class="container-fluid ">

    <!-- Navigation -->

    <nav class="navbar fixed-top d-flex bg-white">
        <div class="container">
            <div class="row w-100 justify-content-center align-items-center">
                <div class="col-6">
                    <!-- Image Logo -->
                    <a class="navbar-brand logo-image ml-2 d-inline"" href="/Home">
                        <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/logo_dark.png")" alt="suptomer" />
                    </a>
                </div>
                <div class="col-6 text-right">

                    <div class="custom-control custom-switch" >
                      <a href="/admin/supplier" > <i class="fas fa-times"></i> </a>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-2 ">

        <div class="row">
            <div class="col-md-12 mt-5">

                <div class="container py-4">
                    <div class="card border-0">
                        <div class="card-header bg-tranperatnt border-0 profile-tabs-header">
                            <ul class="nav nav-tabs card-header-tabs d-flex justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basic-info-tab" data-toggle="tab" href="#basic-info">
                                        Personal info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-image-tab" data-toggle="tab" href="#shipment-info">
                                        Shipment
                                        info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="location-tab" data-toggle="tab" href="#location">Documents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="confirm-tab" data-toggle="tab" href="#confirm">Signature</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body profile-tabs-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="basic-info">
                                    <h4>Supplier Profile</h4>

                                    <p class="mb-4">for the purpose of industry regulation , your details are required</p>
                                    <div class="step-header d-flex  align-items-center justify-content-between">
                                        <h5 class="step-title">Personal Info</h5>
                                        <button type="button" class="btn btn-outline-primary btn-sm">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                        </button>
                                    </div>

                                    <hr class="my-2 " />
                                    <form id="1" autocomplete="on">
                                        <div class="form-group upload-img">
                                            <label for="profile-image">Profile Image:</label>

                                            <div class="d-flex align-items-center w-100">
                                                <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/profile.png")" alt="User Profile" class="profile-image rounded-circle">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                        onclick="document.getElementById('imageInput').click()">
                                                    upload image
                                                </button>
                                                <input type="file" id="imageInput" style="display: none">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">

                                                <div class="form-group">
                                                    <label for="name">Full Name:</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="email">Email:</label>
                                                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                                </div>


                                            </div>
                                            <div class="col-sm-12 col-md-6">

                                                <div class="form-group">
                                                    <label for="mobile">Mobile Number:</label>
                                                    <input type="text" class="form-control" id="mobile" placeholder="Enter your Number">
                                                </div>


                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <!-- do not delete for design pupose -->
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                       <label for="password"> Password:</label>
                                                   <div class="input-group"  id="show_hide_password">
                                                       <input type="password" id="password" class="form-control" placeholder="Enter Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                       <div class="input-group-append">
                                                           <span class="input-group-text"><i class="fas fa-eye-slash"></i></span>
                                                       </div>
                                                   </div>
                                                </div>
                                               </div>
                                            <div class="col-sm-12 col-md-6">
                                             <div class="form-group">
                                                    <label for="cpassword">Confirm Password:</label>
                                                <div class="input-group" id="show_hide_cpassword">
                                                    <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fas fa-eye-slash"></i></span>
                                                    </div>
                                                </div>
                                             </div>
                                            </div>
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <!-- Add more fields as needed -->
                                                <button class="btn btn-primary" data-toggle="tab" href="#shipment-info">Save +</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="tab-pane fade" id="shipment-info">

                                    <h4>Supplier Profile</h4>

                                    <p class="mb-4">for the purpose of industry regulation , your details are required</p>
                                    <div class="step-header d-flex  align-items-center justify-content-between">
                                        <h5 class="step-title">Shipment info</h5>
                                    </div>

                                    <hr class="my-2 " />
                                    <form id="2" autocomplete="on">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ">
                                                <div class="form-group">
                                                    <label for="email">Email:</label>
                                                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                                    <div class="row mt-3 ">
                                                        <div class="col-12">
                                                            <lable>Working Days</lable>
                                                        </div>
                                                        <div class="col-6">
                                                            <select class="form-control p-0">
                                                                <option>From</option>
                                                                <option>1</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <select class="form-control p-0">
                                                                <option>To</option>
                                                                <option>1</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="day_off" >Day off</label>
                                                    <select class="form-control" id="day_off">
                                                        <option> friday</option>
                                                        <option>1</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Time frame (from):</label>
                                                    <div class="my-2 d-flex">
                                                        <input type="time" class="form-control time mr-3" id="name" placeholder="Enter your name">
                                                        <select class="form-control timezone ml-2" id="">
                                                            <option> Cairo (+3)</option>
                                                            <option>UTC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Time frame (to):</label>
                                                    <div class="my-2 d-flex">
                                                        <input type="time" class="form-control time mr-3" id="name" placeholder="Enter your name">
                                                        <select class="form-control timezone ml-2" id="">
                                                            <option> Cairo (+3)</option>
                                                            <option>UTC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="step-header d-flex  align-items-center justify-content-between">
                                                    <h5 class="step-title">Coverage Zones</h5>
                                                </div>
                                                <hr class="my-2 " />
                                            </div>
                                            <div class="col-12">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d961503.6917064982!2d46.220777637167984!3d24.771496782710283!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1693838535112!5m2!1sen!2seg"
                                             width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                <div class="card cavarge-zone">
                                                    <div class="card-body">
                                                        <h2>Address</h2>
                                                        <p class="mb-4">for the purpose of industry regulation ,your details are required</p>
                                                        <form action="" class="theme_form">
                                                            <div class="form-group">
                                                                <lable>Adress</lable>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <lable>City</lable>
                                                                <select class="form-control">
                                                                    <option>city</option>
                                                                    <option></option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                        <div class="card zons d-flex align-items-start">
                                                            <!-- <img src="" alt=""> -->
                                                            <div class="address">
                                                                <p>Riyadh</p>
                                                                <p>ST-staen islan -56272</p>
                                                                <p>56272g3773737</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <!-- Add more fields as needed -->
                                                <button class="btn btn-primary" data-toggle="tab" href="#location">Next</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <div class="tab-pane fade" id="location">

                                    <h4>Documents</h4>

                                    <p class="mb-4">for the purpose of industry regulation , your details are required</p>
                                    <div class="step-header d-flex  align-items-center justify-content-between">
                                        <h5 class="step-title">Documents</h5>
                                    </div>

                                    <hr class="my-2 " />
                                    <form>

                                        <!-- Add more fields as needed -->
                                        <div class="row">
                                            <div class="col-12">

                                                <ul id="accordion" class="col-sm-6 col-md-12">
                                                    <!-- Question one -->
                                                    <li>

                                                        <div class="card upload-doc  my-4">
                                                            <div class="card-body">

                                                                <div id="choose" data-toggle="collapse" data-target="#collapseOne"
                                                                     aria-expanded="true" aria-controls="collapseOne" class=" d-flex align-items-center">

                                                                    <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/doc.png")" class="rounded-circle" style="width: 50px; height: 50px;"
                                                                         alt="Icon">
                                                                    <div class="ml-3">
                                                                        <h5 class="card-title">Supplier’s papers</h5>
                                                            <p class="card-text">Upload photo of the photo page of passport.</p>
                                                       
                                                                    </div>
                                                                    <div class="ml-auto">
                                                                        <i class="fas fa-arrow-right"></i>
                                                                    </div>
                                                                </div>
                                                                <div id="collapseOne" class="collapse uploadarea show" aria-labelledby="headingOne" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                                            <p class="card-text">Upload/Browse</p>
                                                                            <p>
                                                                                <input type="file" id="uploadResPaper" style="display: none">

                                                                                <img onclick="document.getElementById('uploadResPaper').click()" src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/upload.png")" alt="suptomer" />
                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li>

                                                        <div class="card upload-doc  my-4">
                                                            <div class="card-body">

                                                                <div id="choose" data-toggle="collapse" data-target="#collapseTow"
                                                                     aria-expanded="false" aria-controls="collapseTow" class=" d-flex align-items-center">

                                                                    <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/n-id.png")"  class="rounded-circle" style="width: 50px; height: 50px;"
                                                                         alt="Icon">
                                                                    <div class="ml-3">
                                                                        <h5 class="card-title">National ID</h5>
                                                            <p class="card-text">Take a photo of both sides of your national ID</p>
                                                                    </div>
                                                                    <div class="ml-auto">
                                                                        <i class="fas fa-arrow-right"></i>
                                                                    </div>
                                                                </div>
                                                                <div id="collapseTow" class="collapse uploadarea" aria-labelledby="headingTow" data-parent="#accordion">
                                                                    <div class="card-body">
                                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                                            <p class="card-text">Upload/Browse</p>
                                                                            <p>
                                                                                <input type="file" id="uploadResPaper" style="display: none">

                                                                                <img onclick="document.getElementById('uploadResPaper').click()" src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/upload.png")" alt="suptomer" />
                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button class="btn btn-primary" data-toggle="tab" href="#confirm">Next</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="confirm">

                                    <h4>Signature</h4>

                                    <p class="mb-4">for the purpose of industry regulation , your details are required</p>
                                    <div class="step-header d-flex  align-items-center justify-content-between">
                                        <h5 class="step-title">Signature</h5>
                                    </div>

                                    <hr class="my-2 " />
                                    <form>

                                        <!-- Add more fields as needed -->
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="card upload-doc border-dashed d-flex  my-4">
                                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">


                                                        <p class="card-text">Upload/Browse</p>
                                                        <p>
                                                            <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/upload.png")" alt="suptomer" />
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Tabs content -->
            </div>

        </div>

    </div>
</div>