@model PasswordRecoveryConfirmModel
@{
    Layout = "_RgistrationLayout";
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

<style>
    .footer-container {
        display: none !important;
    }

    .required {
        position: absolute;
        left: -14px;
        top: 3px;
    }

    .reg_form {
        overflow-y: unset;
    }
</style>

<div class="container-fluid h-100">
    <nav class="navbar fixed-top d-flex bg-white">
        <div class="container">
            <div class="row w-100 justify-content-center align-items-center">
                <div class="col-6">
                    <!-- Image Logo -->
                    <a class="navbar-brand logo-image ml-2  websiteBrand" href="/Home">
                        <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/logo_dark.png")" alt="suptomer" />
                    </a>
                </div>
                <div class="col-6 text-right">

                    <div class="">
                        <!-- <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="languageToggle">
                            <label class="custom-control-label" for="languageToggle">AR - EN</label>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container h-100 ">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-md-6">

                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="align-items-center h-100" style="padding-left: 1.5rem!important;">
                    <div class="result">
                        @Model.Result
                    </div>
                    <br/>
                    <div class="buttons">
                        <a href="@Model.ReturnUrl" style="text-decoration:none; display: block;"
                           class="theme_btn  text-white mt-3 w-100 text-center">@T("Common.Continue")</a>
                    </div>
                    </div>
                }
                

                    @if (!Model.DisablePasswordChanging)
                    {
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <form asp-route="PasswordRecoveryConfirm"
                              class="w-100 theme_form reg_form pl-4"
                              asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <h1 class="register" style="margin-bottom: 0!important">
                                @T("Account.PasswordRecovery")
                            </h1>
                            <div class="fieldset">
                                <div class="form-group">
                                    <div class="">
                                        <label asp-for="NewPassword" asp-postfix=":"></label>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <nop-required />
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>
                                    <div class="">
                                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                                        <input asp-for="ConfirmNewPassword" class="form-control" />
                                        <nop-required />
                                        <span asp-validation-for="ConfirmNewPassword"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="submit" name="set-password" class="theme_btn  text-white mt-3 w-100 text-center">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                            </div>
                        </form>
                    </div>
                    }
                
            </div>


            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="@Url.Content("../Themes/SuptomerTheme/Content/assets/img/reg_right_img.png")" alt="login suptoer Image" class="i mw-70">
            </div>
        </div>
    </div>

</div>