@model ProductModel

@{
    var showTour = ViewBag.ShowTour ?? false;

    const string hideInfoBlockAttributeName = "ProductPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hidePricesBlockAttributeName = "ProductPage.HidePricesBlock";
    var hidePricesBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hidePricesBlockAttributeName);

    const string hideShippingBlockAttributeName = "ProductPage.HideShippingBlock";
    var hideShippingBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hideShippingBlockAttributeName);

    const string hideInventoryBlockAttributeName = "ProductPage.HideInventoryBlock";
    var hideInventoryBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hideInventoryBlockAttributeName);

    const string hideMultimediaBlockAttributeName = "ProductPage.hideMultimediaBlock";
    var hideMultimediaBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hideMultimediaBlockAttributeName);

    const string hideProductAttributesBlockAttributeName = "ProductPage.HideProductAttributesBlock";
    var hideProductAttributesBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideProductAttributesBlockAttributeName, defaultValue: true);

    const string hideSpecificationAttributeBlockAttributeName = "ProductPage.HideSpecificationAttributeBlock";
    var hideSpecificationAttributeBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSpecificationAttributeBlockAttributeName, defaultValue: true);

    const string hideGiftCardBlockAttributeName = "ProductPage.HideGiftCardBlock";
    var hideGiftCardBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideGiftCardBlockAttributeName, defaultValue: true);

    const string hideDownloadableBlockAttributeName = "ProductPage.HideDownloadableBlock";
    var hideDownloadableBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideDownloadableBlockAttributeName, defaultValue: true);

    const string hideSeoBlockAttributeName = "ProductPage.HideSEOBlock";
    var hideSeoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSeoBlockAttributeName, defaultValue: true);

    const string hideRelatedProductsBlockAttributeName = "ProductPage.HideRelatedProductsBlock";
    var hideRelatedProductsBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideRelatedProductsBlockAttributeName, defaultValue: true);

    const string hideCrossSellsProductsBlockAttributeName = "ProductPage.HideCrossSellsProductsBlock";
    var hideCrossSellsProductsBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideCrossSellsProductsBlockAttributeName, defaultValue: true);

    const string hidePurchasedWithOrdersBlockAttributeName = "ProductPage.HidePurchasedWithOrdersBlock";
    var hidePurchasedWithOrdersBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hidePurchasedWithOrdersBlockAttributeName, defaultValue: true);

    const string hideStockQuantityHistoryBlockAttributeName = "ProductPage.HideStockQuantityHistoryBlock";
    var hideStockQuantityHistoryBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideStockQuantityHistoryBlockAttributeName, defaultValue: true);
}
<style>
/* .card-header{display:none !important;} */
.card-outline{
    border: none !important;
    box-shadow: none !important;
}
div#product-info {
    border: none !important;
    box-shadow: none !important;
}
div#product-info .card-body{
   padding:16px !important
}
ul#custom-content-above-tab {
    display: none;
}
.card.card-secondary>.card-header {
    padding-left: 0 !important;}
</style> 
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="product-cards">
                <div class="container-fluid m-0 p-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-2  d-block steps">
                            <div class="nav flex-column nav-tabs stepper" id="myTab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link step active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"><span class="step-img"> <img src="~/images/theme/write_svgrepo.com.svg " class="step-icon" /></span><span class="step-text">Product Info</span> </a>
                                <a class="nav-link step" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/image_svgrepo.com.svg" class="step-icon" /></span><span class="step-text">Product images </span></a>
                                <a class="nav-link step" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/price-tag_svgrepo.com.svg" class="step-icon" /></span><span class="step-text">Price </span></a>
                                <a class="nav-link step" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/shipping-car_svgrepo.com.svg" class="step-icon" /></span><span class="step-text">Shipping </span></a>
                                <a class="nav-link step" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/warehouse_svgrepo.com.svg" class="step-icon" /></span><span class="step-text">inventory </span></a>
                                <a class="nav-link step" id="tab6-tab" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/related-content-interface-symbol_svgrepo.com.svg" class="step-icon" /></span><span class="step-text"> Related Products</span></a>
                                <a class="nav-link step" id="tab7-tab" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab7" aria-selected="false"> <span class="step-img"> <img src="~/images/theme/cross-cursor_svgrepo.com.svg" class="step-icon" /></span><span class="step-text"> Cross Sell</span></a>
                    
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-10 pl-4">
                            <div class="row tab-content" id="myTabContent">
                       
                                <div class="col-sm-12 tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                  @* @Html.Partial("./ProductSteppers/_ProductInfo")*@ 
                                  
                                    <nop-card asp-name="product-info" asp-icon="fas fa-info" asp-title="@T("Admin.Catalog.Products.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
                                  @*  <nop-card asp-name="product-product-attributes" asp-icon="fas fa-paperclip" asp-title="@T("Admin.Catalog.Products.ProductAttributes")" asp-hide-block-attribute-name="@hideProductAttributesBlockAttributeName" asp-hide="@hideProductAttributesBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.ProductAttributes)">@await Html.PartialAsync("_CreateOrUpdate.ProductAttributes", Model)</nop-card>
                                    <nop-card asp-name="product-specification-attributes" asp-icon="fas fa-cog" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes")" asp-hide-block-attribute-name="@hideSpecificationAttributeBlockAttributeName" asp-hide="@hideSpecificationAttributeBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.SpecificationAttributes)">@await Html.PartialAsync("_CreateOrUpdate.SpecificationAttributes", Model)</nop-card>
                                    <nop-card asp-name="product-giftcard" asp-icon="fas fa-gift" asp-title="@T("Admin.Catalog.Products.GiftCard")" asp-hide-block-attribute-name="@hideGiftCardBlockAttributeName" asp-hide="@hideGiftCardBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.IsGiftCard)">@await Html.PartialAsync("_CreateOrUpdate.GiftCard", Model)</nop-card>
                                    <nop-card asp-name="product-downloadable" asp-icon="fas fa-download" asp-title="@T("Admin.Catalog.Products.DownloadableProduct")" asp-hide-block-attribute-name="@hideDownloadableBlockAttributeName" asp-hide="@hideDownloadableBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.DownloadableProduct)">@await Html.PartialAsync("_CreateOrUpdate.DownloadableProduct", Model)</nop-card>
                                    <nop-card asp-name="product-seo" asp-icon="fas fa-search-plus" asp-title="@T("Admin.Common.SEO")" asp-hide-block-attribute-name="@hideSeoBlockAttributeName" asp-hide="@hideSeoBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.Seo)">@await Html.PartialAsync("_CreateOrUpdate.Seo", Model)</nop-card>            
                                  *@
                                   <div class="row d-none"><div class="col-sm-12">
                                            <!-- Edit mood -->
                                            @if (Model.Id > 0)
                                            {
                                                <nop-card asp-name="product-purchased-with-orders" asp-icon="fas fa-cart-arrow-down" asp-title="@T("Admin.Catalog.Products.PurchasedWithOrders")" asp-hide-block-attribute-name="@hidePurchasedWithOrdersBlockAttributeName" asp-hide="@hidePurchasedWithOrdersBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.PurchasedWithOrders)">@await Html.PartialAsync("_CreateOrUpdate.PurchasedWithOrders", Model)</nop-card>
                                                <nop-card asp-name="product-stock-quantity-history" asp-icon="fas fa-history" asp-title="@T("Admin.Catalog.Products.StockQuantityHistory")" asp-hide-block-attribute-name="@hideStockQuantityHistoryBlockAttributeName" asp-hide="@hideStockQuantityHistoryBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.StockQuantityHistory)">@await Html.PartialAsync("_CreateOrUpdate.StockQuantityHistory", Model)</nop-card>
                                            }

                                   </div></div>
                                </div>
                               
                                <div class="col-sm-12 tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab"> 
                                    <!-- Content for Tab 2 - images and multimedia -->

                                    <nop-card asp-name="product-multimedia" asp-icon="fas fa-photo-video" asp-title="@T("Admin.Catalog.Products.Multimedia")" asp-hide-block-attribute-name="@hideMultimediaBlockAttributeName" asp-hide="@hideMultimediaBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Multimedia", Model)</nop-card>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                    <!-- Content for Tab 3 - price -->
                                    <nop-card asp-name="product-price" asp-icon="fas fa-dollar-sign" asp-title="@T("Admin.Catalog.Products.Price")" asp-hide-block-attribute-name="@hidePricesBlockAttributeName" asp-hide="@hidePricesBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Prices", Model)</nop-card>
        
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                                    <!-- Content for Tab 4 - Shipping -->

                                     <nop-card asp-name="product-shipping" asp-icon="fas fa-truck" asp-title="@T("Admin.Catalog.Products.Shipping")" asp-hide-block-attribute-name="@hideShippingBlockAttributeName" asp-hide="@hideShippingBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Shipping", Model)</nop-card>
                                </div>
                                <div class="col-sm-12 tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                                 <!-- Content for Tab 5 - inventroy -->

                                    <nop-card asp-name="product-inventory" asp-icon="fas fa-sitemap" asp-title="@T("Admin.Catalog.Products.Inventory")" asp-hide-block-attribute-name="@hideInventoryBlockAttributeName" asp-hide="@hideInventoryBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Inventory", Model)</nop-card>
                                    
                                </div>
                             
                                <div class="col-sm-12 tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
                                    <!-- Content for Tab 6 - related Product -->


                                    <nop-card asp-name="product-related-products" asp-icon="fas fa-object-group" asp-title="@T("Admin.Catalog.Products.RelatedProducts")" asp-hide-block-attribute-name="@hideRelatedProductsBlockAttributeName" asp-hide="@hideRelatedProductsBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.RelatedProducts)">@await Html.PartialAsync("_CreateOrUpdate.RelatedProducts", Model)</nop-card>
                                </div>
                                
                                <div class="col-sm-12 tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7-tab">
                                    <!-- Content for Tab 3 - cross sell -->
                                    <nop-card asp-name="product-crosssells-products" asp-icon="fas fa-random" asp-title="@T("Admin.Catalog.Products.CrossSells")" asp-hide-block-attribute-name="@hideCrossSellsProductsBlockAttributeName" asp-hide="@hideCrossSellsProductsBlock" asp-advanced="@(!Model.ProductEditorSettingsModel.CrossSellsProducts)">@await Html.PartialAsync("_CreateOrUpdate.CrossSellsProducts", Model)</nop-card> 
                                    
                                </div>
                    
                            </div>
                        </div>
                    </div>
                 
                </div>
         
            
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductDetailsBlock, additionalData = Model })
            </nop-cards>
        </div>
    </div>
</section>